body{
	margin:0;
}

/*Navigation */

.navigation{
	background-color: #333;
}

.navigation ul {
    list-style-type: none;
    overflow: hidden;
    margin-left:50px;
}

.navigation li  {
    float: left;
}

.navigation li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px 15px;
    font-family: "Gill Sans","Gill Sans MT",Calibri,sans-serif;
    text-decoration: none;
}

.navigation li a:hover {
    background-color: #111;
}

.navigation-search{
	display:inline-block;
}

/* Container wrap */

.center-wrap{
	background-color:black;
	width:auto;
	height:100%;

/* Container left section */

}

.leftcontent-container{
	background-color:red;
	height:100%;
	width:45%;
	float:left;
	/*max-width:45%;*/
}

.content-container{
	width: 98%;
}

/* Container side section*/

.rightcontent-container{
	background-color:green;
	width:45%;
	height:100%;
	float:right;
}


/* Rest is just old code 

.content-container{
	width: 98%;
}

.content-middlebox{
	background-color:rgb(242, 242, 242);
	border: 1px solid rgb(230, 230, 230);
	border-radius:2px;
	margin: 0 auto;
}

.content-middletitle{
	color:orange;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	color:rgb(128, 128, 128);
	font-size:18px;
}
.content-middlecreated{
	margin-top:-15px;
}
.content-middlesearch{
	box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 13px;
    background-color: white;
    background-image: url('searchicon.png');
    background-repeat: no-repeat;
    width:100%;
    padding: 12px 20px 12px 40px;
    margin-top:10px;
}
.content-middleimage{
	max-width:100%;
	max-height:100%;
}

*/