body {
    margin:0;
    padding-right:100px;
	padding-left:100px;
}

/* Navigation Section */ 

#navigator{
    background-color:rgb(204, 102, 0);
    height:50px;
}
#navigator-banner{
    background-color:rgb(255, 128, 0);
    height:300px;
}
SS